/* Header.jsx file CSS */
.test{
  color: black;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

/* Conditional Rendering file CSS */
.visible {
  display: block;
}

.unvisible {
  display: none;
}

hr {
  border: none;
  border-top: 4px solid black;
}